<!-- MODALS
    ================================================== -->
<!-- Get Updates modal -->
<div class="modal fade fixed-right" id="modalEmailUpdates" tabindex="-1" role="dialog"
  aria-labelledby="Get update modal by email" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="header text-center">
          <div class="header-body">

            <h6 class="header-pretitle">
              Betoken Report
            </h6>

            <h1 class="header-title">
              Get notified by email
            </h1>

          </div>
        </div>
        <!-- Text -->
        <p class="text-center text-muted mb-5">
          Be the first to know about new investments cycles and Betoken's next big things 👇.
        </p>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
          target="_blank" novalidate>
          <div class="input-group input-group-lg mb-4">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
              placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-auto mb-5">
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
<!-- Modal: sidebar -->
<div class="modal fade" id="sidebarModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical modal-sidebar-nav" role="document">
    <div class="modal-content">
      <div class="modal-body px-0 px-md-4">
        <nav class="navbar navbar-vertical fixed-left navbar-expand-sm navbar-light border-0">

          <!-- Brand -->
          <a class="navbar-brand text-left" href="/">
            <img src="assets/img/logo.svg" class="navbar-brand-img" alt="Betoken logo" height="36"> <span
              class="text-secondary ml-2 h3 mb-0">Betoken</span>
          </a>

          <!-- Collapse -->
          <div class="collapse navbar-collapse show" id="navbarVertical">

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="fe fe-home"></i>Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funding">
                  <i class="fe fe-dollar-sign"></i>Funding
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friends">
                  <i class="fe fe-users"></i>Friends of Betoken
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://betoken.gitbook.io/docs/connect-your-capital/what-is-the-fees-structure"
                  target="_blank">
                  <i class="fe fe-percent"></i> Fees & liquidity
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://medium.com/betoken" target="_blank">
                  <i class="fe fe-feather"></i> From the blog
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://t.me/betokenfund" target="_blank">
                  <i class="fe fe-send"></i> Telegram
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Betoken/Whitepaper/" target="_blank">
                  <i class="fe fe-book"></i> White Paper
                </a>
              </li>
            </ul>
            <hr class="navbar-divider my-3">
            <p class="small text-secondary">Be part of the open finance</p>
            <a class="btn btn-sm btn-success" href="/start">Sign Up Now</a>
            <hr class="navbar-divider my-3">
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li class="nav-item">
                <a class="nav-link small" href="https://betoken.gitbook.io/docs/" target="_blank">
                  Help
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link small"
                  href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
                  target="_blank">
                  Privacy policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link small" href="https://forms.gle/GowN7Lx3hgwozXFY8" target="_blank">
                  Send feedback
                </a>
              </li>
            </ul>

          </div> <!-- / .navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- NAVIGATION
    ================================================== -->
<!-- HEADER -->
<div class="bg-ellipses bg-dark pb-7">
  <!-- NAVIGATION
      ================================================== -->
  <nav class="navbar navbar-expand-lg bg-transparent border border-0 mb-5" id="topnav">
    <div class="container">
      <div class="row d-flex justify-content-between no-gutters w-100">
        <div class="col d-flex align-items-center">
          <!-- Brand -->
          <a class="text-white" href="#" data-toggle="modal" data-target="#sidebarModal"><i
              class="fe fe-menu mr-3 h1 mb-0"></i></a>
          <a class="navbar-brand mr-auto d-flex align-items-center" href="/">
            <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
            <span class="text-white ml-2 h3 mb-0">Betoken</span>
          </a>
        </div>
        <div class="col ml-auto d-flex justify-content-end">
          <div class="navbar-user">
            <a class="text-white mr-5 d-none d-md-flex" href="https://betoken.gitbook.io/docs/" target="_blank">Help</a>
            <a class="text-white mr-5 d-none d-md-flex" href="/friends">Friends</a>
            <a class="text-white mr-5 d-none d-md-flex" href="https://medium.com/betoken" target="_blank">Blog</a>
            <div class="mr-4 d-none d-md-flex">
              <a class="text-white" data-toggle="modal" href="#modalEmailUpdates">
                <span class="icon active">
                  <i class="fe fe-bell"></i>
                </span>
              </a>

            </div>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-link" href="https://betoken.fund/portal/#/dashboard">
                Sign in
              </a>
            </li>
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-success" href="/start">
                Sign Up
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .container -->
  </nav>
  <div class="container">
    <div class="row justify-content-center mb-5 mb-lg-3">
      <div class="col col-lg-8 text-center">
        <!-- Subtitle -->
        <h6 class="header-pretitle text-muted">Betoken</h6>
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5">
          Community Funding
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5">
          Community Funding
        </h1>
        <p class="text-muted lead mb-5">This is a <a
            href="https://etherscan.io/address/0x332d87209f7c8296389c307eae170c2440830a47" target="_blank">general
            fund</a> for the Betoken's ongoing development campaign. Donations into this fund are always welcome, very
          appreciated, and a quick and easy way to get yourself or your company on to the <a href="/friends">friends
            of Betoken</a> page.</p>
      </div>
    </div> <!-- / .row -->
    <div class="row align-items-center no-gutters mb-7 mb-lg-5">
      <div class="col text-center">
        <!-- Title -->
        <a href="/funding/#donationWidget" class="btn btn-success btn-lg">Donate to Betoken</a>
      </div>
    </div>
  </div> <!-- / .container -->
</div> <!-- / .bg-ellipses -->


<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">
  <div class="container mt-n7 mt-lg-n6 mb-6 mb-lg-7" id="donationWidget">
    <div class="row justify-content-center mb-4 mb-lg-0">
      <div class="col-12 col-lg-6 col-xl-10">
        <!-- Card -->
        <iframe class="d-block w-100 border-0 p-0 mt-n6" style="height: 620px;"
          src="https://widget.kyber.network/v0.6.4/?type=pay&amp;mode=iframe&amp;receiveAddr=0x332d87209f7c8296389c307eae170c2440830a47&amp;receiveToken=DAI&amp;callback=https%3A%2F%2Fkyberpay-sample.knstats.com%2Fcallback&amp;paramForwarding=true&amp;network=mainnet&amp;pinnedTokens=ETH_WBTC_DAI&amp;commissionId=0x332d87209f7c8296389c307eae170c2440830a47&amp;theme=theme-ocean"></iframe>
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center mb-6">
      <div class="col-auto">
        <a class="d-flex align-items-center" href="https://kyber.network" target="_blank">
          <img src="assets/img/illustrations/knc.svg" alt="" class="d-block" width="36">
          <span class="text-secondary ml-2 mb-0">Powered by Kyber Network</span>
        </a>
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center mb-6">
      <div class="col-12 col-lg-9 px-4">

        <!-- Card -->

        <div class="card border-0">
          <h3 class="card-header">Choose your reward</h3>
          <div class="card-body">
            <ul class="list-group list-group-flush list ">
              <li class="list-group-item px-0 py-4">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-success">$10</span>
                    </div>
                  </div>
                  <div class="col-12 col-lg mt-4 mt-lg-0 ml-n2 mb-4 mb-lg-0 text-center text-lg-left">
                    <!-- Title -->
                    <h2>
                      Pledge $10 or more
                    </h2>
                    <p class="text-muted mb-0"><i class="fe fe-check text-success mr-2"></i>Your name in the <a
                        href="/friends">friends of Betoken</a> page (if desired).</p>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-white"
                      href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                      target="_blank">Ask to be listed</a>
                  </div>
                </div> <!-- / .row -->
              </li>
              <li class="list-group-item px-0 py-4">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-success">$100</span>
                    </div>
                  </div>
                  <div class="col-12 col-lg mt-4 mt-lg-0 ml-n2 mb-4 mb-lg-0 text-center text-lg-left">
                    <!-- Subtitle -->
                    <h6 class="header-pretitle text-muted">Betoken Evangelist</h6>
                    <!-- Title -->
                    <h2>
                      Pledge $100 or more
                    </h2>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Your name in the <a
                        href="/friends">friends of Betoken</a> page (if desired).</p>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Receive a special "Thank you"
                      token that unlocks a special badge on the <a href="https://betoken.fund/portal/#/rankings"
                        target="_blank">Ranking Managers</a> page. If you are or plan to be a Betoken fund manager,
                      everyone will be able to see that you're a <strong>Betoken Evangelist</strong> in the managers
                      ranking page.</p>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Early access to new features.</p>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-white"
                      href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                      target="_blank">Ask to be listed</a>
                  </div>
                </div> <!-- / .row -->
              </li>
              <li class="list-group-item px-0 py-4">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-success">$500</span>
                    </div>
                  </div>
                  <div class="col-12 col-lg mt-4 mt-lg-0 ml-n2 mb-4 mb-lg-0 text-center text-lg-left">
                    <!-- Subtitle -->
                    <h6 class="header-pretitle text-muted">Betoken Champion</h6>
                    <!-- Title -->
                    <h2>
                      Pledge $500 or more
                    </h2>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Your name and logo in the
                      <strong>Companies section</strong> of the <a href="/friends">friends of Betoken</a> page (if
                      desired).</p>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Receive a special "Thank you"
                      token that unlocks a special badge on the <a href="https://betoken.fund/portal/#/rankings"
                        target="_blank">Ranking Managers</a> page. If you are or plan to be a Betoken fund manager,
                      everyone will be able to see that you're a <strong>Betoken Champion</strong> in the managers
                      ranking page.</p>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Early access to new features.</p>
                    <p class="text-muted"><i class="fe fe-check text-success mr-2"></i>Personal mention on Twitter and
                      on social media by the Betoken team (if desired).</p>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-white"
                      href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                      target="_blank">Ask to be listed</a>
                  </div>
                </div> <!-- / .row -->
              </li>
              <li class="list-group-item px-0 py-4">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-gold text-white">$1k</span>
                    </div>
                  </div>
                  <div class="col-12 col-lg mt-4 mt-lg-0 ml-n2 mb-4 mb-lg-0 text-center text-lg-left">
                    <!-- Subtitle -->
                    <h6 class="header-pretitle text-muted">Top 10 supporters • Hall of Fame</h6>
                    <!-- Title -->
                    <h2 class="text-gold">
                      Pledge $1,000 or more
                    </h2>
                    <p class="text-muted"><i class="fe fe-star text-gold mr-2"></i>Your name in the <strong>Hall of
                        Fame</strong> section of the <a href="/friends">friends of Betoken</a> page (if desired).
                    </p>
                    <p class="text-muted"><i class="fe fe-star text-gold mr-2"></i>Receive a "Thank you" token that
                      unlocks a special badge on the <a href="https://betoken.fund/portal/#/rankings"
                        target="_blank">Ranking Managers</a> page. If you are or plan to be a Betoken fund manager,
                      everyone will be able to see that you're a <strong>Hall of fame</strong> Betoken supporter in the
                      managers ranking page.</p>
                    <p class="text-muted"><i class="fe fe-star text-gold mr-2"></i>Early access to new features.</p>
                    <p class="text-muted"><i class="fe fe-star text-gold mr-2"></i>Personal mention on Twitter and on
                      social media by the Betoken team (if desired).</p>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-white"
                      href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                      target="_blank">Ask to be listed</a>
                  </div>
                </div> <!-- / .row -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7" id="why">
    <div class="row justify-content-center mb-5 mb-lg-5">
      <div class="col col-lg-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block">
          What this fund is
        </h2>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none">
          What this fund is
        </h2>

        <p class="lead">This is the general development fund intended to cover costs related to Betoken’s development.
          While the team may not have visibility on every particular need that will arise, all donated funds will be
          used towards Betoken’s technical development and new security audits.</p>

        <p class="lead">This fund is managed entirely by the Betoken Technical Council, and all spending decisions will
          be made public. The funds are kept in a Multisig wallet, meaning no spending can occur without at least 2
          council members actively signing the transaction.</p>

        <p class="lead">While the main goal is funding the ongoing professional security audit, you'll find below some
          other examples of where proceeds of this fund might be allocated (by no means exhaustive and subject to
          change):</p>

        <ul>
          <li class="lead">Service fees related to build and deployment infrastructure</li>
          <li class="lead">Contributing to a second security audit or other specific development work if required</li>
          <li class="lead">Legal support as and when needed</li>
        </ul>

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block mt-6 mt-lg-7">
          Betoken’s Community Funding Principles
        </h2>

        <!-- Title -->
        <h2 class="display-4 text-center d-block mt-5 d-lg-none">
          Betoken’s Community Funding Principles
        </h2>
        <!-- Text -->
        <p class="lead text-center text-muted mb-5">
          <a href="/">Betoken</a> is currently being created by a group of developers dedicated to
          the realisation of a reliable and functional crowd-powered assets management protocol. We are building it
          because we’re excited about cryptoeconomics, governance system and the possibilities that they offer.
        </p>

        <p class="lead">Unlike the vast majority of blockchain projects, Betoken's development is not motivated by greed
          for either its developers or early adopters. As a measure of this, the project has pledged that:</p>

        <ul>
          <li class="lead">Betoken will not engage in an ICO.</li>
          <li class="lead">Betoken's launch will be pre-announced, open, and fair. There will be no pre-minted coins or
            any other funny business. The only avantage of the early users are for those who participate as beta tester
            of our Rinkeby Testnet app. They'll be able to redeem their testnet Kairo tokens on Mainnet.</li>
          <li class="lead">In order to providing funding for its maintenance and future development on Mainnet, Betoken
            will mint Betoken Shares and send them to the current development team. The amount will be equal to 0.1% of
            the current Betoken Shares total supply, and it will occur at the end of every investment cycle. <a
              href="https://betoken.gitbook.io/docs/connect-your-capital/what-is-the-fees-structure"
              target="_blank">Find out more about Betoken's fees structure</a>.</li>
          <li class="lead">Betoken developers will not seek or accept any capital that comes with the expectation of
            future monetary return.</li>
          <li class="lead">Betoken will not seek or accept any capital that comes with the expectation of being able to
            unduly influence Betoken’s decision-making process.</li>
        </ul>

        <p class="lead">Thus far, Betoken’s development has been mostly a part-time effort, with <a
            href="/#openMovement">volunteers</a> contributing their code, design, ideas on an ad-hoc basis. This will
          continue in any event, but the reality is that a project of Betoken’s scope would be greatly helped by having
          a source of funding. This would allow Betoken to reach its potential more quickly, more reliably, with better
          supporting infrastructure, and with a far greater chance of success competing against (or co-existing with)
          well-funded blockchain projects.</p>

        <p class="lead">To keep Betoken open and free from controlling influences, the project will attempt to rely 100%
          on community donations for its funding needs before the mainnet release. We ask any person, corporate entity
          or institution who sees potential in Betoken protocol to consider donating to the project, and we hope that
          the vibrant cryptocurrency community will help Betoken in achieving its goal of providing an open-source,
          community-owned, permissionless, and censorship-resistant that truly belongs to everyone.</p>

        <h2 class="mt-5">Friends of Betoken</h2>

        <p class="lead">We believe that any donors, large or small, should be given recognition for their contribution.
          Any individual donor who wishes to be listed on our <a href="/friends">Friends of Betoken</a> page will be
          listed, and any corporate or institutional Donors making a significant contribution to Betoken's development
          will have their logo displayed (if desired).</p>

        <p class="lead">We are also happy to accept recurring sponsorships and acknowledge your support prominently on
          our Friends of Betoken page. However, as per our pledges above, we cannot accept sponsorships or donations
          predicated on being able to unduly influence Betoken’s direction.</p>

        <h2 class="mt-5">Donation Format</h2>

        <p class="lead">As in all things Betoken, we want to ensure that the funding process remains as transparent as
          all other aspects of the project. To this end, Betoken will actively seek community funding via <a
            href="https://etherscan.io/address/0x332d87209f7c8296389c307eae170c2440830a47" target="_blank">a general
            fund</a>, proceeds of which will be allocated by Betoken’s technical council according to project need.</p>

        <p class="lead">The general fund will be allocated by the Betoken developers as needs are identified, with all
          spending decisions posted and made public. Betoken's developers will update the community on progress.</p>

        <p class="lead">Since Betoken doesn’t currently have a foundation, general donations will go into the
          developers' multisig wallet. This may change as Betoken’s <a
            href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance" target="_blank">governance
            model</a> allows the community to choose another developer team.</p>

        <p class="lead">Donors and sponsors should understand that the funds donated will always go towards the
          advancement of Betoken.</p>

        <p class="lead">Developers will provide weekly updates on progress via the main social media channels of
          Betoken.</p>

        <h2 class="mt-5">Disclaimer</h2>

        <p class="lead">The Betoken project is still very young and is still experimenting with the details of its
          funding model. Some or all of the details above, and even our overall approach may change as the project
          evolves, however we will always strive to ensure that our funding model reflects the principles of openness
          and fairness on which the project was founded.</p>
      </div>
    </div> <!-- / .row -->

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <!-- Title -->
        <h2 class="text-center">
          Bitcoin donation address
        </h2>
        <div class="card card-inactive mb-5">
          <div class="card-body text-center">
            <p class="text-dark lead">
              3EZuuufsK6oKMSL7ahqs3EudtxrmqQ1kdz
            </p>
            <p class="text-muted mb-0">Funds donated in Bitcoin will be converted to DAI shortly after for simplicity of
              accounting.</p>
          </div>
        </div>

        <!-- Title -->
        <h2 class="text-center">
          Ethereum donation address
        </h2>

        <div class="card card-inactive mb-5">
          <div class="card-body text-center">
            <p class="text-dark lead">
              0x332D87209f7c8296389C307eAe170c2440830A47
            </p>
            <p class="text-muted mb-0">Funds donated in Ethereum will be converted to DAI shortly after for simplicity
              of accounting.</p>
          </div>
        </div>

        <!-- Title -->
        <h2 class="text-center">
          Zcash donation address
        </h2>

        <div class="card card-inactive mb-5">
          <div class="card-body text-center">
            <p class="text-dark lead">
              t1KDTErgNdrx1Uv9r5p4Xg7suYyiiUy7Bx8
            </p>
            <p class="text-muted mb-0">Funds donated in Zcash will be converted to DAI shortly after for simplicity of
              accounting.</p>
          </div>
        </div>
        <a class="d-block text-center" href="https://etherscan.io/address/0x332d87209f7c8296389c307eae170c2440830a47"
          target="_blank">Community Fund's address<i class="fe fe-arrow-right ml-2"></i></a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="fixed-bottom">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="alert alert-light alert-dismissible fade show mx-3 pr-4 mb-4" role="alert">
          <div class="row d-flex align-items-center">
            <div class="col">
              By using this website, you agree to our <a
                href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
                target="_blank">privacy policy</a>
            </div>
            <div class="col-auto pr-0 justify-content-between align-items-center d-flex">
              <button type="button" class="close position-relative d-flex align-self-end py-0 pr-2" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- / .main-content -->
<div class="main-container bg-dark-gradient">
  <div class="container py-5 py-lg-6">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-3 mb-5 mb-lg-0">
        <img class="d-block mb-4" src="assets/img/logo.svg" alt="..." width="64">
        <p class="text-secondary">Don't trust our words, trust our code. The Betoken protocol is available on <a
            class="text-white" href="https://github.com/Betoken/" target="_blank">Github</a>.</p>
      </div>
      <div class="col-12 col-lg-3 offset-lg-3 mb-5 mb-lg-0">
        <h4 class="text-white">Join our community</h4>
        <div class="list-group list-group-flush">
          <a class="list-group-item text-white border-0 pl-0" href="https://twitter.com/betokenfund"
            target="_blank">Twitter</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://t.me/betokenfund"
            target="_blank">Telegram</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://medium.com/betoken"
            target="_blank">Medium</a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <h4 class="text-white mb-4">Subscribe to the Betoken Report</h4>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
          target="_blank" novalidate>
          <div class="input-group input-group-lg mb-3">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
              placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <a class="text-white" href="https://betoken.gitbook.io/docs/" target="_blank">Get help<i
            class="fe fe-arrow-right ml-2"></i></a>
        <!--End mc_embed_signup-->
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card card-inactive mb-0">
          <div class="card-body">
            <h3 class="text-white">Disclaimer</h3>
            <p class="text-muted">
              Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or
              tokens.
            </p>
            <p class="text-muted">
              Betoken enables capital connection and managing using smart contracts which are open source. Betoken does
              not take custody of tokens and is only a collaborative hub for investors and managers. Betoken is not a
              licensed bank, broker-dealer, investment advisor or an exchange. Betoken uses partner protocols (Kyber,
              Compound, bZx, Maker DAO) to power its own ecosystem.
            </p>
            <p class="text-danger">
              💀 This project is in beta. Use at your own risk.
            </p>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .main-container -->