<!-- Footer
    ================================================== -->
<div class="main-container bg-dark-gradient">
  <div class="container py-5 py-lg-6">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-3 mb-5 mb-lg-0">
        <img class="d-block mb-4" src="assets/img/logo.svg" alt="Betoken Logo" width="64">
        <p class="text-secondary"><ng-container i18n="@@footerCodeOnGithubText">Don't trust our words, trust our code. The Betoken protocol is available on </ng-container> <a
            class="text-white" href="https://github.com/Betoken/" target="_blank">Github</a>.</p>
      </div>
      <div class="col-12 col-lg-3 offset-lg-3 mb-5 mb-lg-0">
        <h4 class="text-white" i18n="@@footerCommunityTitle">Join our community</h4>
        <div class="list-group list-group-flush">
          <a class="list-group-item text-white border-0 pl-0" href="https://twitter.com/betokenfund"
            target="_blank">Twitter</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://t.me/betokenfund"
            target="_blank">Telegram</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://medium.com/betoken"
            target="_blank">Medium</a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <h4 class="text-white mb-4" i18n="@@subscribeNewsletterTitle">Subscribe to the Betoken Report</h4>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
          target="_blank" novalidate>
          <div class="input-group input-group-lg mb-3">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" i18n-placeholder="@@subscribeNewsletterPlaceholder"
              placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <a class="text-white" href="https://betoken.gitbook.io/docs/" target="_blank" i18n="@@navHelp">Help</a>
        <!--End mc_embed_signup-->
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card card-inactive mb-0">
          <div class="card-body">
            <h3 class="text-white" i18n="@@footerDisclaimerTitle">Disclaimer</h3>
            <p class="text-muted" i18n="@@footerDisclaimerText1">
              Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or
              tokens.
            </p>
            <p class="text-muted" i18n="@@footerDisclaimerText2">
              Betoken enables capital connection and managing using smart contracts which are open source. Betoken does
              not take custody of tokens and is only a collaborative hub for investors and managers. Betoken is not a
              licensed bank, broker-dealer, investment advisor or an exchange. Betoken uses partner protocols (Kyber,
              Compound, bZx, Maker DAO) to power its own ecosystem.
            </p>
            <p class="text-danger" i18n="@@footerDisclaimerText3">
              💀 This project is in beta. Use at your own risk.
            </p>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .main-container -->
