<!-- MODALS
    ================================================== -->
<!-- Get Updates modal -->
<div class="modal fade fixed-right" id="modalEmailUpdates" tabindex="-1" role="dialog"
  aria-labelledby="Get update modal by email" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="header text-center">
          <div class="header-body">

            <h6 class="header-pretitle">
              Betoken Report
            </h6>

            <h1 class="header-title">
              Get notified by email
            </h1>

          </div>
        </div>
        <!-- Text -->
        <p class="text-center text-muted mb-5">
          Be the first to know about new investments cycles and Betoken's next big things 👇.
        </p>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
          target="_blank" novalidate>
          <div class="input-group input-group-lg mb-4">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
              placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-auto mb-5">
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
<!-- Modal: sidebar -->
<div class="modal fade" id="sidebarModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical modal-sidebar-nav" role="document">
    <div class="modal-content">
      <div class="modal-body px-0 px-md-4">
        <nav class="navbar navbar-vertical fixed-left navbar-expand-sm navbar-light border-0">

          <!-- Brand -->
          <a class="navbar-brand text-left" href="/">
            <img src="assets/img/logo.svg" class="navbar-brand-img" alt="Betoken logo" height="36"> <span
              class="text-secondary ml-2 h3 mb-0">Betoken</span>
          </a>

          <!-- Collapse -->
          <div class="collapse navbar-collapse show" id="navbarVertical">

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="fe fe-home"></i>Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funding">
                  <i class="fe fe-dollar-sign"></i>Funding
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friends">
                  <i class="fe fe-users"></i>Friends of Betoken
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://betoken.gitbook.io/docs/connect-your-capital/what-is-the-fees-structure"
                  target="_blank">
                  <i class="fe fe-percent"></i> Fees & liquidity
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://medium.com/betoken" target="_blank">
                  <i class="fe fe-feather"></i> From the blog
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://t.me/betokenfund" target="_blank">
                  <i class="fe fe-send"></i> Telegram
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Betoken/Whitepaper/" target="_blank">
                  <i class="fe fe-book"></i> White Paper
                </a>
              </li>
            </ul>
            <hr class="navbar-divider my-3">
            <p class="small text-secondary">Be part of the open finance</p>
            <a class="btn btn-sm btn-success" href="/start">Sign Up Now</a>
            <hr class="navbar-divider my-3">
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li class="nav-item">
                <a class="nav-link small" href="https://betoken.gitbook.io/docs/" target="_blank">
                  Help
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link small"
                  href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
                  target="_blank">
                  Privacy policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link small" href="https://forms.gle/GowN7Lx3hgwozXFY8" target="_blank">
                  Send feedback
                </a>
              </li>
            </ul>

          </div> <!-- / .navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- NAVIGATION
    ================================================== -->
<div class="bg-ellipses bg-dark pb-7">
  <!-- NAVIGATION
      ================================================== -->
  <nav class="navbar navbar-expand-lg bg-transparent border border-0 mb-5" id="topnav">
    <div class="container">
      <div class="row d-flex justify-content-between no-gutters w-100">
        <div class="col d-flex align-items-center">
          <!-- Brand -->
          <a class="text-white" href="#" data-toggle="modal" data-target="#sidebarModal"><i
              class="fe fe-menu mr-3 h1 mb-0"></i></a>
          <a class="navbar-brand mr-auto d-flex align-items-center" href="/">
            <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
            <span class="text-white ml-2 h3 mb-0">Betoken</span>
          </a>
        </div>
        <div class="col ml-auto d-flex justify-content-end">
          <div class="navbar-user">
            <a class="text-white mr-5 d-none d-md-flex" href="https://betoken.gitbook.io/docs/" target="_blank">Help</a>
            <a class="text-white mr-5 d-none d-md-flex" href="/friends">Friends</a>
            <a class="text-white mr-5 d-none d-md-flex" href="https://medium.com/betoken" target="_blank">Blog</a>
            <div class="mr-4 d-none d-md-flex">
              <a class="text-white" data-toggle="modal" href="#modalEmailUpdates">
                <span class="icon active">
                  <i class="fe fe-bell"></i>
                </span>
              </a>

            </div>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-link" href="https://betoken.fund/portal/#/dashboard">
                Sign in
              </a>
            </li>
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-success" href="/start">
                Sign Up
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .container -->
  </nav>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col col-lg-8 text-center">
        <!-- Subtitle -->
        <h6 class="header-pretitle text-muted">Overview</h6>
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5">
          Friends of Betoken
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5">
          Friends of Betoken
        </h1>
        <p class="text-muted lead mb-0">The following companies, institutions, or individuals have generously donated
          financial resources to the Betoken project under our <a href="/funding">community funding model</a>. We're
          grateful for their support, and are proud to display their logos or names as supporters of Betoken.</p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .bg-ellipses -->


<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">
  <!-- CARDS -->
  <div class="container mt-n6 mb-4 mb-lg-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0"><i class="fe fe-star text-gold mr-2"></i>Hall of Fame</h3>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-white"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                  target="_blank">Ask to be listed</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my-n3">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-1">

                    <h5 class="header-pretitle text-muted mb-0 h6">1</h5>

                  </div>
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle">?</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      <a href="/funding">Donate to take this spot!</a>
                    </h5>

                  </div>
                  <div class="col-auto">

                    <a class="btn btn-sm btn-white" href="/funding">Donate</a>

                  </div>
                </div> <!-- / .row -->
                <!-- IDEA: frontend for the donor component
                    <div class="row align-items-center">
                      <div class="col-1">

                        <h5 class="header-pretitle text-muted mb-0 h6">1</h5>

                      </div>
                      <div class="col-auto">
                        <div class="avatar">
                          <img src="assets/img/avatars/profiles/guillaume.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <h5 class="mb-1 name">
                          John J Almoa
                        </h5>

                      </div>
                      <div class="col-auto">

                        <h6 class="header-pretitle text-muted">total</h6>
                        <p class="mb-0 text">$3,000</p>

                      </div>
                      <div class="col-auto">
                        <h6 class="header-pretitle text-muted"># donations</h6>
                        <p class="mb-0 text">1</p>

                      </div>
                    </div>
                   -->

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <!-- CARDS -->
  <div class="container mb-4 mb-lg-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Individuals</h3>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-white"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                  target="_blank">Ask to be listed</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my-n3">
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-success">M</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      m4d9rypter
                    </h5>
                    <span class="badge badge-soft-success">Betoken Evangelist</span>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">

                    <h6 class="header-pretitle text-muted">total</h6>
                    <p class="mb-0 text">412.5 <img class="d-inline-block" src="assets/img/dai.svg" alt="Dai Logo"
                        width="16"> DAI</p>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">
                    <h6 class="header-pretitle text-muted"># donations</h6>
                    <p class="mb-0 text">2</p>

                  </div>
                </div> <!-- / .row -->

              </li>
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-primary">S</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      Shane | Kyber Network
                    </h5>
                    <span class="badge badge-soft-success">Betoken Evangelist</span>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">

                    <h6 class="header-pretitle text-muted">total</h6>
                    <p class="mb-0 text">110 <img class="d-inline-block" src="assets/img/dai.svg" alt="Dai Logo"
                        width="16"> DAI</p>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">
                    <h6 class="header-pretitle text-muted"># donations</h6>
                    <p class="mb-0 text">1</p>

                  </div>
                </div> <!-- / .row -->

              </li>
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle">?</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      <a href="/funding">Your name here</a>
                    </h5>

                  </div>
                  <div class="col-auto">

                    <a class="btn btn-sm btn-white" href="/funding">Donate</a>

                  </div>
                </div> <!-- / .row -->

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-4 mb-lg-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Companies</h3>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-white"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                  target="_blank">Ask to be listed</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my-n3">
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle">?</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      <a href="/funding">Your logo here</a>
                    </h5>

                  </div>
                  <div class="col-auto">

                    <a class="btn btn-sm btn-white" href="/funding">Donate</a>

                  </div>
                </div> <!-- / .row -->

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-4 mb-lg-6">
    <div class="row justify-content-center mb-5 mb-lg-6">
      <div class="col-12 col-lg-8">

        <div class="card card-inactive mb-5">
          <div class="card-body">
            <h3 class="">Anonymous Supporters</h3>
            <p class="text-muted">We'd also like to explicitly thank everyone who's donated but chosen to remain
              anonymous.</p>
          </div>
        </div>
        <div class="card card-inactive mb-5">
          <div class="card-body">
            <h3 class="">See something wrong?</h3>
            <p class="text-muted">
              This page is a work in progress. We are doing our best to keep information up to date, but there's a good
              chance
              bugs will slip in. For any corrections, please contact an admin on our <a href="https://t.me/betokenfund"
                target="_blank">Telegram channel</a>.
            </p>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="fixed-bottom">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="alert alert-light alert-dismissible fade show mx-3 pr-4 mb-4" role="alert">
          <div class="row d-flex align-items-center">
            <div class="col">
              By using this website, you agree to our <a
                href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
                target="_blank">privacy policy</a>
            </div>
            <div class="col-auto pr-0 justify-content-between align-items-center d-flex">
              <button type="button" class="close position-relative d-flex align-self-end py-0 pr-2" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- / .main-content -->
<div class="main-container bg-dark-gradient">
  <div class="container py-5 py-lg-6">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-3 mb-5 mb-lg-0">
        <img class="d-block mb-4" src="assets/img/logo.svg" alt="..." width="64">
        <p class="text-secondary">Don't trust our words, trust our code. The Betoken protocol is available on <a
            class="text-white" href="https://github.com/Betoken/" target="_blank">Github</a>.</p>
      </div>
      <div class="col-12 col-lg-3 offset-lg-3 mb-5 mb-lg-0">
        <h4 class="text-white">Join our community</h4>
        <div class="list-group list-group-flush">
          <a class="list-group-item text-white border-0 pl-0" href="https://twitter.com/betokenfund"
            target="_blank">Twitter</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://t.me/betokenfund"
            target="_blank">Telegram</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://medium.com/betoken"
            target="_blank">Medium</a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <h4 class="text-white mb-4">Subscribe to the Betoken Report</h4>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
          target="_blank" novalidate>
          <div class="input-group input-group-lg mb-3">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
              placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <a class="text-white" href="https://betoken.gitbook.io/docs/" target="_blank">Get help<i
            class="fe fe-arrow-right ml-2"></i></a>
        <!--End mc_embed_signup-->
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card card-inactive mb-0">
          <div class="card-body">
            <h3 class="text-white">Disclaimer</h3>
            <p class="text-muted">
              Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or
              tokens.
            </p>
            <p class="text-muted">
              Betoken enables capital connection and managing using smart contracts which are open source. Betoken does
              not take custody of tokens and is only a collaborative hub for investors and managers. Betoken is not a
              licensed bank, broker-dealer, investment advisor or an exchange. Betoken uses partner protocols (Kyber,
              Compound, bZx, Maker DAO) to power its own ecosystem.
            </p>
            <p class="text-danger">
              💀 This project is in beta. Use at your own risk.
            </p>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .main-container -->