<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">
  <!-- CARDS -->
  <div class="container mt-n6 mb-4 mb-lg-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0"><i class="fe fe-star text-gold mr-2"></i><ng-container i18n="@@friendsHallOfFameTitle">Hall of Fame</ng-container></h3>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-white"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                  target="_blank" i18n="@@ctaAskToBeListed">Ask to be listed</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my-n3">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-1">

                    <h5 class="header-pretitle text-muted mb-0 h6">1</h5>

                  </div>
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle">?</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      <a href="/funding" i18n="@@friendsHallOfFameCtaDonate">Donate to take this spot!</a>
                    </h5>

                  </div>
                  <div class="col-auto">

                    <a class="btn btn-sm btn-white" href="/funding" i18n="@@friendsCtaBtnDonate">Donate</a>

                  </div>
                </div> <!-- / .row -->
                <!-- IDEA: frontend for the donor component
                    <div class="row align-items-center">
                      <div class="col-1">

                        <h5 class="header-pretitle text-muted mb-0 h6">1</h5>

                      </div>
                      <div class="col-auto">
                        <div class="avatar">
                          <img src="assets/img/avatars/profiles/guillaume.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <h5 class="mb-1 name">
                          John J Almoa
                        </h5>

                      </div>
                      <div class="col-auto">

                        <h6 class="header-pretitle text-muted">total</h6>
                        <p class="mb-0 text">$3,000</p>

                      </div>
                      <div class="col-auto">
                        <h6 class="header-pretitle text-muted"># donations</h6>
                        <p class="mb-0 text">1</p>

                      </div>
                    </div>
                   -->

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <!-- CARDS -->
  <div class="container mb-4 mb-lg-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0" i18n="@@friendsIndividualsTitle">Individuals</h3>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-white"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                  target="_blank" i18n="@@ctaAskToBeListed">Ask to be listed</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my-n3">
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-success">M</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      m4d9rypter
                    </h5>
                    <span class="badge badge-soft-success" i18n="@@BetokenEvangelist">Betoken Evangelist</span>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">

                    <h6 class="header-pretitle text-muted" i18n="@@friendsIndividualTotalDonation">total</h6>
                    <p class="mb-0 text">412.5 <img class="d-inline-block" src="assets/img/dai.svg" alt="Dai Logo"
                        width="16"> DAI</p>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">
                    <h6 class="header-pretitle text-muted" i18n="@@friendsIndividualNbofDonations"># donations</h6>
                    <p class="mb-0 text">2</p>

                  </div>
                </div> <!-- / .row -->

              </li>
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-primary">S</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      Shane | Kyber Network
                    </h5>
                    <span class="badge badge-soft-success" i18n="@@BetokenEvangelist">Betoken Evangelist</span>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">

                    <h6 class="header-pretitle text-muted" i18n="@@friendsIndividualTotalDonation">total</h6>
                    <p class="mb-0 text">110 <img class="d-inline-block" src="assets/img/dai.svg" alt="Dai Logo"
                        width="16"> DAI</p>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">
                    <h6 class="header-pretitle text-muted" i18n="@@friendsIndividualNbofDonations"># donations</h6>
                    <p class="mb-0 text">1</p>

                  </div>
                </div> <!-- / .row -->

              </li>
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle bg-primary">S</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name" i18n="@@BetokenAnonymousDonor">
                      🦄 Anonymous
                    </h5>
                    <span class="badge badge-soft-success" i18n="@@BetokenEvangelist">Betoken Evangelist</span>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">

                    <h6 class="header-pretitle text-muted" i18n="@@friendsIndividualTotalDonation">total</h6>
                    <p class="mb-0 text">100 <img class="d-inline-block" src="assets/img/dai.svg" alt="Dai Logo"
                        width="16"> DAI</p>

                  </div>
                  <div class="col-auto mt-3 mt-md-0">
                    <h6 class="header-pretitle text-muted" i18n="@@friendsIndividualNbofDonations"># donations</h6>
                    <p class="mb-0 text">1</p>

                  </div>
                </div> <!-- / .row -->

              </li>
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle">?</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      <a href="/funding" i18n="@@friendsIndividualsCtaYourNameHere">Your name here</a>
                    </h5>

                  </div>
                  <div class="col-auto">

                    <a class="btn btn-sm btn-white" href="/funding" i18n="@@friendsCtaBtnDonate">Donate</a>

                  </div>
                </div> <!-- / .row -->

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-4 mb-lg-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0" i18n="@@friendsCompaniesTitle">Companies</h3>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-white"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScjl88Rl1zCQ7kHOSf2QD5PaqEWN_iD-RL3mk1WKCSysH1wNg/viewform?usp=sf_link"
                  target="_blank" i18n="@@ctaAskToBeListed">Ask to be listed</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my-n3">
              <li class="list-group-item px-0">

                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar">
                      <span class="avatar-title rounded-circle">?</span>
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h5 class="mb-1 name">
                      <a href="/funding" i18n="@@friendsCompaniesCtaYourLogoHere">Your logo here</a>
                    </h5>

                  </div>
                  <div class="col-auto">

                    <a class="btn btn-sm btn-white" href="/funding" i18n="@@friendsCtaBtnDonate">Donate</a>

                  </div>
                </div> <!-- / .row -->

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-4 mb-lg-6">
    <div class="row justify-content-center mb-5 mb-lg-6">
      <div class="col-12 col-lg-8">

        <div class="card card-inactive mb-5">
          <div class="card-body">
            <h3 i18n="@@friendsAnonymousTitle">Anonymous Supporters</h3>
            <p class="text-muted" i18n="@@friendsAnonymousText">We'd also like to explicitly thank everyone who's donated but chosen to remain
              anonymous.</p>
          </div>
        </div>
        <div class="card card-inactive mb-5">
          <div class="card-body">
            <h3 i18n="@@friendsSeeSthWrongTitle">See something wrong?</h3>
            <p class="text-muted"><ng-container i18n="@@friendsSeeSthWrongText">
              This page is a work in progress. We are doing our best to keep information up to date, but there's a good
              chance bugs will slip in. For any corrections, please contact an admin on our</ng-container> <a href="https://t.me/betokenfund"
                target="_blank"><ng-container i18n="@@friendsSeeSthWrongTextTelegramChannel">Telegram channel</ng-container></a>.
            </p>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <app-privacypolicy></app-privacypolicy>
</div> <!-- / .main-content -->
