<div class="container">
  <div class="row justify-content-center mb-lg-5">
    <div class="col col-lg-10 text-center">
      <!-- Subtitle -->
      <h2 class="header-pretitle text-muted" i18n="@@headerHomePretitle">Meet Betoken</h2>
      <!-- Title -->
      <h1 class="display-1 d-none d-lg-block text-white mb-5" i18n="@@headerHomeTitle">
        Crowd-powered asset management protocol
      </h1>
      <h1 class="display-4 d-block d-lg-none text-white mb-5" i18n="@@headerHomeTitleMobile">
        Crowd-powered asset management protocol
      </h1>
      <a class="btn btn-success btn-lg mb-3 py-3 px-5" href="/start" i18n="@@ctaGetStarted">Get started</a>
      <p class="text-muted small"><ng-container i18n="@@headerHomePretitleSignIn">Already using Betoken?</ng-container> <a class="text-white"
          href="https://betoken.fund/portal/#/dashboard" target="_blank" i18n="@@signIn">Sign in</a>.</p>
    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
