<!-- MODALS
    ================================================== -->
<!-- Get Updates modal -->
<div class="modal fade fixed-right" id="modalEmailUpdates" tabindex="-1" role="dialog"
  aria-labelledby="Get update modal by email" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="header text-center">
          <div class="header-body">

            <h6 class="header-pretitle">
              Betoken Report
            </h6>

            <h1 class="header-title">
              Get notified by email
            </h1>

          </div>
        </div>
        <!-- Text -->
        <p class="text-center text-muted mb-5">
          Be the first to know about new investments cycles and Betoken's next big things 👇.
        </p>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100"
          target="_blank" novalidate>
          <div class="input-group input-group-lg mb-4">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
              placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-auto mb-5">
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
<!-- Modal: sidebar -->
<div class="modal fade" id="sidebarModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical modal-sidebar-nav" role="document">
    <div class="modal-content">
      <div class="modal-body px-0 px-md-4">
        <nav class="navbar navbar-vertical fixed-left navbar-expand-sm navbar-light border-0">

          <!-- Brand -->
          <a class="navbar-brand text-left" href="/">
            <img src="assets/img/logo.svg" class="navbar-brand-img" alt="Betoken logo" height="36"> <span
              class="text-secondary ml-2 h3 mb-0">Betoken</span>
          </a>

          <!-- Collapse -->
          <div class="collapse navbar-collapse show" id="navbarVertical">

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="fe fe-home"></i>Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funding">
                  <i class="fe fe-dollar-sign"></i>Funding
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friends">
                  <i class="fe fe-users"></i>Friends of Betoken
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://betoken.gitbook.io/docs/connect-your-capital/what-is-the-fees-structure"
                  target="_blank">
                  <i class="fe fe-percent"></i> Fees & liquidity
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://medium.com/betoken" target="_blank">
                  <i class="fe fe-feather"></i> From the blog
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://t.me/betokenfund" target="_blank">
                  <i class="fe fe-send"></i> Telegram
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Betoken/Whitepaper/" target="_blank">
                  <i class="fe fe-book"></i> White Paper
                </a>
              </li>
            </ul>
            <hr class="navbar-divider my-3">
            <p class="small text-secondary">Be part of the open finance</p>
            <a class="btn btn-sm btn-success" href="/start">Sign Up Now</a>
            <hr class="navbar-divider my-3">
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li class="nav-item">
                <a class="nav-link small" href="https://betoken.gitbook.io/docs/" target="_blank">
                  Help
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link small"
                  href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
                  target="_blank">
                  Privacy policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link small" href="https://forms.gle/GowN7Lx3hgwozXFY8" target="_blank">
                  Send feedback
                </a>
              </li>
            </ul>

          </div> <!-- / .navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- NAVIGATION
    ================================================== -->
<div class="bg-ellipses bg-dark pb-7">
  <!-- NAVIGATION
      ================================================== -->
  <nav class="navbar navbar-expand-lg bg-transparent border border-0 mb-5" id="topnav">
    <div class="container">
      <div class="row d-flex justify-content-between no-gutters w-100">
        <div class="col d-flex align-items-center">
          <!-- Brand -->
          <a class="text-white" href="#" data-toggle="modal" data-target="#sidebarModal"><i
              class="fe fe-menu mr-3 h1 mb-0"></i></a>
          <a class="navbar-brand mr-auto d-flex align-items-center" href="/">
            <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
            <span class="text-white ml-2 h3 mb-0">Betoken</span>
          </a>
        </div>
        <div class="col ml-auto d-flex justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-link" href="https://betoken.fund/portal/#/dashboard">
                Sign in
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .container -->
  </nav>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col col-lg-8 text-center">
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5">
          Get Started with Betoken
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5">
          Get Started with Betoken
        </h1>
        <p class="text-muted lead mb-0">Choose an option below to begin</p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .bg-ellipses -->


<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">
  <!-- CARDS -->
  <div class="container mt-n6 mb-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="card-deck mb-4">
          <!-- Card -->
          <a class="card border-0 bg-primary mb-6 mb-lg-0" href="https://betoken.fund/portal/#/start">
            <div class="card-body">
              <img class="d-block mt-n6 w-75 mx-auto mb-4" src="assets/img/illustrations/undraw_transfer_money_rywa.svg"
                alt="" height="200">
              <h1 class="text-white">Connect your capital</h1>
              <p class="text-white h3 font-weight-normal">Connect your capital with Betoken's fund managers.</p>

            </div>
          </a>
          <!-- Card -->
          <a class="card border-0 bg-success" href="https://betoken.fund/portal/#/start-managing">
            <div class="card-body">
              <img class="d-block mt-n6 w-75 mx-auto mb-4" src="assets/img/illustrations/skill.svg" alt="" height="200">
              <h1 class="text-white">Start managing</h1>
              <p class="text-white h3 font-weight-normal">Be financially rewarded based on your talent and contributions
                as a fund manager.</p>
            </div>
          </a>
        </div>
        <a href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf"
          target="_blank">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto mb-2 mb-lg-0">
              <div class="avatar avatar-sm">
                <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png"
                  alt="Solidified logo">
              </div>
            </div>
            <div class="col-auto">
              <p class="small text-secondary mb-0 text-center">Betoken Smart Contracts are audited and secured by
                Solidified</p>
            </div>
            <div class="col-auto">
              <i class="fe fe-arrow-right text-secondary"></i>
            </div>
          </div>
        </a>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="fixed-bottom">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="alert alert-light alert-dismissible fade show mx-3 pr-4 mb-4" role="alert">
          <div class="row d-flex align-items-center">
            <div class="col">
              By using this website, you agree to our <a
                href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
                target="_blank">privacy policy</a>
            </div>
            <div class="col-auto pr-0 justify-content-between align-items-center d-flex">
              <button type="button" class="close position-relative d-flex align-self-end py-0 pr-2" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- / .main-content -->