<app-header>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col col-lg-8 text-center">
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5" i18n="@@headerStartTitle">
          Get Started with Betoken
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5" i18n="@@headerStartTitleMobile">
          Get Started with Betoken
        </h1>
        <p class="text-muted lead mb-0" i18n="@@headerStartText">Choose an option below to begin</p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->  
</app-header>

<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">
  <!-- CARDS -->
  <div class="container mt-n6 mb-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="card-deck mb-4">
          <!-- Card -->
          <a class="card border-0 bg-primary mb-6 mb-lg-0" href="https://betoken.fund/portal/#/start">
            <div class="card-body">
              <img class="d-block mt-n6 w-75 mx-auto mb-4" src="assets/img/illustrations/undraw_transfer_money_rywa.svg"
                alt="" height="200">
              <h1 class="text-white" i18n="@@connectCapitalTitle">Connect your capital</h1>
              <p class="text-white h3 font-weight-normal" i18n="@@startConnectCapitalText">Connect your capital with Betoken's fund managers.</p>

            </div>
          </a>
          <!-- Card -->
          <a class="card border-0 bg-success" href="https://betoken.fund/portal/#/start-managing">
            <div class="card-body">
              <img class="d-block mt-n6 w-75 mx-auto mb-4" src="assets/img/illustrations/skill.svg" alt="" height="200">
              <h1 class="text-white" i18n="@@ctaManaging">Start managing</h1>
              <p class="text-white h3 font-weight-normal" i18n="@@startManagingText">Be financially rewarded based on your talent and contributions
                as a fund manager.</p>
            </div>
          </a>
        </div>
        <a href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf"
          target="_blank">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto mb-2 mb-lg-0">
              <div class="avatar avatar-sm">
                <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png"
                  alt="Solidified logo">
              </div>
            </div>
            <div class="col-auto">
              <p class="small text-secondary mb-0 text-center" i18n="@@SartAuditedBySolidified">Betoken Smart Contracts are audited and secured by
                Solidified</p>
            </div>
            <div class="col-auto">
              <i class="fe fe-arrow-right text-secondary"></i>
            </div>
          </div>
        </a>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <app-privacypolicy></app-privacypolicy>
</div> <!-- / .main-content -->
