<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col col-lg-8 text-center">
      <!-- Title -->
      <h1 class="display-2 d-none d-lg-block text-white mb-5" i18n="@@headerStartTitle">
        Get Started with Betoken
      </h1>
      <h1 class="display-4 d-block d-lg-none text-white mb-5" i18n="@@headerStartTitleMobile">
        Get Started with Betoken
      </h1>
      <p class="text-muted lead mb-0" i18n="@@headerStartText">Choose an option below to begin</p>
    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
