<div class="container">
  <div class="row justify-content-center mb-5 mb-lg-3">
    <div class="col col-lg-8 text-center">
      <!-- Subtitle -->
      <h6 class="header-pretitle text-muted">Betoken</h6>
      <!-- Title -->
      <h1 class="display-2 d-none d-lg-block text-white mb-5" i18n="@@headerFundingTitle">
        Community Funding
      </h1>
      <h1 class="display-4 d-block d-lg-none text-white mb-5" i18n="@@headerFundingTitleMobile">
        Community Funding
      </h1>
      <p class="text-muted lead mb-5" i18n="@@headerFundingText">This is a <a
          href="https://etherscan.io/address/0x332d87209f7c8296389c307eae170c2440830a47" target="_blank">general
          fund</a> for the Betoken's ongoing development campaign. Donations into this fund are always welcome, very
        appreciated, and a quick and easy way to get yourself or your company on to the <a href="/friends">friends
          of Betoken</a> page.</p>
    </div>
  </div> <!-- / .row -->
  <div class="row align-items-center no-gutters mb-7 mb-lg-5">
    <div class="col text-center">
      <!-- Title -->
      <a href="/funding/#donationWidget" class="btn btn-success btn-lg" i18n="@@ctaDonate">Donate to Betoken</a>
    </div>
  </div>
</div> <!-- / .container -->
