<app-header>
  <div class="container">
    <div class="row justify-content-center mb-lg-5">
      <div class="col col-lg-10 text-center">
        <!-- Subtitle -->
        <h2 class="header-pretitle text-muted" i18n="@@headerHomePretitle">Meet Betoken</h2>
        <!-- Title -->
        <h1 class="display-1 d-none d-lg-block text-white mb-5" i18n="@@headerHomeTitle">
          Crowd-powered asset management protocol
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5" i18n="@@headerHomeTitleMobile">
          Crowd-powered asset management protocol
        </h1>
        <a class="btn btn-success btn-lg mb-3 py-3 px-5" routerLink="/start" i18n="@@ctaGetStarted">Get started</a>
        <p class="text-muted small">
          <ng-container i18n="@@headerHomePretitleSignIn">Already using Betoken?</ng-container>&nbsp;<a class="text-white"
            href="https://betoken.fund/portal/#/dashboard" target="_blank" i18n="@@signIn">Sign in</a>.
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</app-header>

<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">
  <!-- CARDS -->
  <div class="container mt-n6 mb-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-xl-8">

        <!-- Card -->

        <div class="card border-0">
          <div class="card-header">

            <div class="d-flex align-items-center">
              <h6 class="card-title text-uppercase text-muted mb-0">TIME LEFT IN THE {{countdownPhase}} PHASE <br><span class="text-dark mt-2 d-block">{{countdownDay}}d {{countdownHour}}h {{countdownMinute}}m {{countdownSecond}}s</span></h6>
              <div class="ml-auto p-2">
                <a href="https://betoken.gitbook.io/docs/betoken-investment-cycle" target="_blank">
                  <i class="fe fe-info text-secondary"></i>
                </a>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="row align-items-center mb-4">
              <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                <div class="row">

                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homeStatsAUM">
                      Assets Under Management
                    </h6>

                    <!-- Heading -->
                    <span class="sortino-ratio h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <div *ngIf="!isLoading">
                        ${{aum.toFormat(2)}}
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-activity text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homeStatsRoi1m">
                      ROI (1 Month)
                    </h6>

                    <!-- Heading -->
                    <span class="1-month-roi h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <span *ngIf="!isLoading">
                        {{roiOneMonth.toFormat(2)}}
                      </span>
                    </span>
                    <span class="h2 mb-0 mr-1">
                      %
                    </span>

                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-sunrise text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2">
                      APY
                    </h6>

                    <!-- Heading -->
                    <span class="inception-roi h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <span *ngIf="!isLoading">
                        {{apr.toFormat(2)}}
                      </span>
                    </span>
                    <span class="h2 mb-0 mr-1">
                      %
                    </span>

                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="row">

                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-users text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homeStatsNbManagers">
                      Number of Managers
                    </h6>

                    <!-- Heading -->
                    <span class="std h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <span *ngIf="!isLoading">
                        {{numOfManagers.toFormat(0)}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                <div class="row">

                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-sliders text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homeManagementFee">
                      Management fee
                    </h6>

                    <!-- Heading -->
                    <span class="sortino-ratio h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <div *ngIf="!isLoading">
                        0.2 %
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-bar-chart text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homePerformanceFee">
                      Performance fee
                    </h6>

                    <!-- Heading -->
                    <span class="1-month-roi h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <span *ngIf="!isLoading">
                        20 %
                      </span>
                    </span>

                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-download text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homeRedemptionFee">
                      Redemption fee
                    </h6>

                    <!-- Heading -->
                    <span class="inception-roi h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <span *ngIf="!isLoading">
                        0 %
                      </span>
                    </span>

                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="row">

                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-lock text-muted mb-0"></span>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@homeLockupPeriod">
                      Lock-up period
                    </h6>

                    <!-- Heading -->
                    <span class="std h2 mb-0">
                      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only" i18n="@@homeStatsLoading">Loading...</span>
                      </div>
                      <span *ngIf="!isLoading">
                        27 days
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div> <!-- / .row -->

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center mb-5 mb-lg-6">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@home2brainsTitle">
          You think 2 brains are better than one...
        </h2>

        <!-- Text -->
        <p class="display-4 text-center text-muted d-none d-lg-block" i18n="@@home2brainsSubTitle">
          How about hundreds of talented asset managers working for you? Worldwide!
        </p>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@home2brainsTitle">
          You think 2 brains are better than one...
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted d-block d-lg-none" i18n="@@home2brainsSubTitle">
          How about hundreds of talented asset managers working for you? Worldwide!
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <!-- Text -->
        <p class="lead text-secondary text-center" i18n="@@home2brainsText1">
          Many people have the capital to invest in cryptocurrency but not the expertise, and many others have the
          expertise but not the capital.
        </p>
      </div>
      <div class="col-12 col-lg-2 mb-4 mb-lg-0">
        <img class="d-block w-100 mx-auto" src="assets/img/illustrations/undraw_connected_world_wuay.svg"
          alt="undraw_connected_world_wuay">
      </div>
      <div class="col-12 col-lg-4">
        <!-- Text -->
        <p class="lead text-secondary text-center" i18n="@@home2brainsText2">
          Betoken is an open-source, community-owned, permissionless, and censorship-resistant protocol for connecting
          capital with talent, and talent with capital.
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center mb-5 mb-lg-6">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@homeOpenFundTitle">
          An open crypto fund managed by code and meritocracy
        </h2>

        <!-- Text -->
        <p class="display-4 text-center text-muted d-none d-lg-block" i18n="@@homeOpenFundText">
          Your money is managed by the best people
        </p>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@homeOpenFundTitle">
          An open crypto fund managed by code and meritocracy
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted d-block d-lg-none" i18n="@@homeOpenFundText">
          Your money is managed by the best people
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center align-items-center mb-0 mb-lg-6">
      <div class="col-12 col-lg-5 mb-5 mb-lg-0">
        <h3 class="h1" i18n="@@homeSitTitle">Sit back and relax</h3>
        <!-- Text -->
        <p class="lead text-secondary"><ng-container i18n="@@homeSitText1">Your capital is automatically distributed among Betoken’s</ng-container>&nbsp;<a href="https://betoken.fund/portal/#/rankings" target="_blank"><ng-container i18n="@@homeSitText2">community of managers</ng-container></a>. <ng-container i18n="@@homeSitText3">The best of them will have the most influence over how that
          capital is put to work.</ng-container>
        </p>
      </div>
      <div class="col-12 col-lg-6 mb-5 mb-lg-0 order-first order-lg-last">
        <img class="d-block w-50 mx-auto" src="assets/img/illustrations/sit.svg" i18n-alt="@@illustrationSit" alt="sit">
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center align-items-center mb-0 mb-lg-6">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0">
        <img class="d-block w-50 mx-auto" src="assets/img/illustrations/undraw_time_management_30iu.svg"
          alt="undraw_time_management_30iu">
      </div>
      <div class="col-12 col-lg-5 mb-6 mb-lg-0">
        <h3 class="h1" i18n="@@homeSaveTitle">Save time & effort</h3>
        <!-- Text -->
        <p class="lead text-secondary mb-4" i18n="@@homeSaveText">
          Unlike platforms such as Melonport and eToro, you don’t need to waste time on choosing the best performers and
          carefully hedging capital amongst them. All Betoken managers actively trade against the market while you
          sleep.
        </p>
        <a class="btn btn-success btn-lg" routerLink="/start" i18n="@@homeCtaConnectCapital">Deposit your capital</a>
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center align-items-center mb-5 mb-lg-6">
      <div class="col-12 col-lg-5 mb-5 mb-lg-0">
        <h3 class="h1" i18n="@@homeBestManagerTitle">The best managers earn the most</h3>
        <!-- Text -->
        <p class="lead text-secondary"><ng-container i18n="@@homeBestManagerText1">The Betoken protocol recognizes and quantifies the talent of its crypto-traders by allocating units of
        reputation to them, denominated in</ng-container>&nbsp;<a href="https://betoken.gitbook.io/docs/manage-the-fund/what-is-kairo"
            target="_blank"><ng-container i18n="@@homeBestManagerText2">Kairo tokens</ng-container></a><ng-container i18n="@@homeBestManagerText3">, and financially rewards them based on their talent and contributions.</ng-container>
        </p>
        <a class="btn btn-success btn-lg" routerLink="/start" i18n="@@ctaManaging">Start managing</a>
      </div>
      <div class="col-12 col-lg-6 mb-5 mb-lg-0 order-first order-lg-last">
        <img class="d-block w-50 mx-auto" src="assets/img/illustrations/purchase.svg" alt="purchase">
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center mb-5">
      <div class="col col-lg-8 text-center">

        <!-- Title -->
        <h2 class="display-2 d-none d-lg-block mb-5" i18n="@@homeHowBetokenDifferentTitle">
          How is Betoken different?
        </h2>

        <!-- Title -->
        <h2 class="display-4 d-block d-lg-none mb-5" i18n="@@homeHowBetokenDifferentTitle">
          How is Betoken different?
        </h2>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-auto col-lg-4">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link text-secondary active lead py-4" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1"
            role="tab" aria-controls="v-pills-1" aria-selected="true">
            <span class="d-flex d-lg-none">1</span>
            <span class="d-none d-lg-flex" i18n="@@homeHowBetokenDifferentSubtitle1">User-owned, User-governed</span>
          </a>
          <a class="nav-link text-secondary lead py-4" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
            role="tab" aria-controls="v-pills-2" aria-selected="false">
            <span class="d-flex d-lg-none">2</span>
            <span class="d-none d-lg-flex" i18n="@@homeHowBetokenDifferentSubtitle2">Active Management</span>
          </a>
          <a class="nav-link text-secondary lead py-4" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
            role="tab" aria-controls="v-pills-3" aria-selected="false">
            <span class="d-flex d-lg-none">3</span>
            <span class="d-none d-lg-flex" i18n="@@homeHowBetokenDifferentSubtitle3">Full Collateralization</span>
          </a>
          <a class="nav-link text-secondary lead py-4" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4"
            role="tab" aria-controls="v-pills-4" aria-selected="false">
            <span class="d-flex d-lg-none">4</span>
            <span class="d-none d-lg-flex" i18n="@@homeHowBetokenDifferentSubtitle4">70+ Assets</span>
          </a>
          <a class="nav-link text-secondary lead py-4" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5"
            role="tab" aria-controls="v-pills-5" aria-selected="false">
            <span class="d-flex d-lg-none">5</span>
            <span class="d-none d-lg-flex" i18n="@@homeHowBetokenDifferentSubtitle5">No limits, no hidden fees</span>
          </a>
        </div>
      </div>
      <div class="col col-lg-7">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
            <img class="d-block w-50 mx-auto mb-4" src="assets/img/illustrations/undraw_team_spirit_hrr4.svg"
              alt="undraw_team_spirit_hrr4">
            <h3 class="h2 d-block d-lg-none" i18n="@@homeHowBetokenDifferentSubtitle1">User-owned, User-governed</h3>
            <p class="lead text-secondary">
              <ng-container i18n="@@homeHowBetokenDifferentText1a">Betoken's</ng-container>&nbsp;<a href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance"
                target="_blank"><ng-container i18n="@@homeHowBetokenDifferentText1b">governance system</ng-container></a>&nbsp;<ng-container i18n="@@homeHowBetokenDifferentText1c">oversees protocol changes and upgrades, and provides funding for
              the development of new features. No single company or individual can control the protocol. It's owned and
              governed by the very people who use it and benefit from it—You.</ng-container>
            </p>
          </div>
          <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
            <img class="d-block w-50 mx-auto mb-4" src="assets/img/illustrations/undraw_developer_activity_bv83.svg"
              alt="undraw_developer_activity_bv83">
            <h3 class="h2 d-block d-lg-none" i18n="@@homeHowBetokenDifferentSubtitle2">Active Management</h3>
            <p class="lead text-secondary" i18n="@@homeHowBetokenDifferentText2">
              Hundreds of Betoken managers actively prevent losses and seize profitable opportunities for your sake.
              Your money is converted into an actively managed portfolio of assets that can immediately respond to even
              the slightest changes in the market.
            </p>
          </div>
          <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
            <img class="d-block mx-auto mb-4" src="assets/img/illustrations/undraw_vault_9cmw.svg"
              alt="undraw_vault_9cmw" style="max-width:200px">
            <h3 class="h2 d-block d-lg-none" i18n="@@homeHowBetokenDifferentSubtitle3">Full Collateralization</h3>
            <p class="lead text-secondary" i18n="@@homeHowBetokenDifferentText3">
              When you deposit your capital on Betoken, it is converted in Betoken Share tokens. It represents
              your ownership in the Betoken fund and is fully backed by a collateral in the smart contract. Each of them
              acts like a tokenized portfolio, containing the underlying tokens that Betoken managers buy and sell.
            </p>
          </div>
          <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
            <img class="d-block w-50 mx-auto mb-4" src="assets/img/illustrations/undraw_digital_currency_qpak.svg"
              alt="undraw_digital_currency_qpak">
            <h3 class="h2 d-block d-lg-none" i18n="@@homeHowBetokenDifferentSubtitle4">70+ Assets</h3>
            <p class="lead text-secondary" i18n="@@homeHowBetokenDifferentText4">
              By depositing your capital to Betoken protocol, you get direct exposure to ETH, WBTC, BAT, MKR and 70+
              ERC20 tokens.
            </p>
          </div>
          <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
            <img class="d-block w-50 mx-auto mb-4" src="assets/img/illustrations/undraw_discount_d4bd.svg"
              alt="undraw_discount_d4bd">
            <h3 class="h2 d-block d-lg-none" i18n="@@homeHowBetokenDifferentSubtitle5">No limits, no hidden fees</h3>
            <p class="lead text-secondary" i18n="@@homeHowBetokenDifferentText5">
              No minimums. No deposit fees. Only $1, $2, or $3 to start automating your crypto portfolio.
            </p>
            <a href="https://betoken.gitbook.io/docs/deposit-withdraw/what-is-the-fees-structure" target="_blank"><ng-container i18n="@@homeCtaFees">More about fees, lockup, and liquidity</ng-container><i class="fe fe-arrow-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center mb-5 mb-lg-6">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@homeSafeTitle">
          You are in safe hands
        </h2>

        <!-- Text -->
        <p class="display-4 text-center text-muted d-none d-lg-block" i18n="@@homeSafeText">
          Remain always in control of your funds. Built and audited by the best.
        </p>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@homeSafeTitle">
          You are in safe hands
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted d-block d-lg-none" i18n="@@homeSafeText">
          Remain always in control of your funds. Built and audited by the best.
        </p>


      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center mb-0 mb-lg-6">
      <div class="col-12 col-lg-5">
        <img class="d-block w-50 mx-auto mb-4" src="assets/img/illustrations/undraw_authentication_fsn5.svg"
          alt="undraw_authentication_fsn5" height="192">
        <h3 class="h1" i18n="@@homeNonCustodialTitle">Non-custodial</h3>
        <!-- Text -->
        <p class="lead text-secondary" i18n="@@homeNonCustodialText">
          Betoken is non-custodial. You always stay in control, it’s written on the blockchain. All user funds are
          locked in smart contracts without Betoken developers having any direct or indirect access to those funds.
        </p>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1">
        <img class="d-block w-50 mx-auto mb-4" src="assets/img/illustrations/undraw_Security_on_s9ym.svg"
          alt="undraw_Security_on_s9ym" height="192">
        <h3 class="h1" i18n="@@homeAuditTitle">Tested and audited smart contracts</h3>
        <!-- Text -->
        <p class="lead text-secondary mb-4">
          <ng-container i18n="@@homeAuditText1">Betoken's smart contracts are audited and secured by</ng-container>&nbsp;<a
            href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf"
            target="_blank">Solidified</a>&nbsp;<ng-container i18n="@@homeAuditText2">and are designed so that no one can steal the collateral that backs the value
          of your deposit.</ng-container>
        </p>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center mb-5 mb-lg-6">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@homeOpenProtocolTitle">
          Powered by open protocols
        </h2>

        <!-- Text -->
        <p class="display-4 text-center text-muted d-none d-lg-block" i18n="@@homeOpenProtocolText">
          Betoken protocol uses the full value of the open finance ecosystem
        </p>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@homeOpenProtocolTitle">
          Powered by open protocols
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted d-block d-lg-none" i18n="@@homeOpenProtocolText">
          Betoken protocol uses the full value of the open finance ecosystem
        </p>


      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center mt-6 mt-md-7">
      <div class="col-12">
        <div class="card-deck">
          <!-- Card -->
          <div class="card mb-6 mb-lg-0">

            <div class="card-body text-center">

              <div class="avatar avatar-xl card-avatar card-avatar-top">
                <img class="border border-1 avatar-title rounded-circle" src="assets/img/illustrations/knc.svg">
              </div>

              <h2 class="card-title">
                <a href="https://kyber.network/" target="_blank">Kyber</a>
              </h2>

              <p class="card-text text-muted" i18n="@@homeOpenProtocolKyber">
                An on-chain liquidity protocol that aggregates liquidity from a wide range of reserves, allowing betoken
                managers to trade instantly.
              </p>

            </div>

          </div>
          <!-- Card -->
          <div class="card mb-6 mb-lg-0">

            <div class="card-body text-center">

              <div class="avatar avatar-xl card-avatar card-avatar-top">
                <img class="border border-1 avatar-title rounded-circle" src="assets/img/illustrations/bzx.jpg">
              </div>

              <h2 class="card-title">
                <a href="https://b0x.network/" target="_blank">bZx</a>
              </h2>

              <p class="card-text text-muted" i18n="@@homeOpenProtocolBzx">
                A financial primitive enabling margin trading with up to 4x leverage on Betoken.
              </p>

            </div>

          </div>
          <!-- Card -->
          <div class="card mb-6 mb-lg-0">

            <div class="card-body text-center">

              <div class="avatar avatar-xl card-avatar card-avatar-top">
                <img class="border border-1 avatar-title rounded-circle" src="assets/img/illustrations/maker.jpg">
              </div>

              <h2 class="card-title">
                <a href="https://makerdao.com" target="_blank">Maker</a>
              </h2>

              <p class="card-text text-muted" i18n="@@homeOpenProtocolMaker">
                A decentralized autonomous organization (DAO) comprised of a decentralized stablecoin (Dai), collateral
                loans, and community governance. Betoken use Dai to handle its bookkeeping, and distribute profits and
                commissions to its users.
              </p>

            </div>

          </div>
          <!-- Card -->
          <div class="card">

            <div class="card-body text-center">

              <div class="avatar avatar-xl card-avatar card-avatar-top">
                <img class="border border-1 avatar-title rounded-circle" src="assets/img/illustrations/compound.jpg">
              </div>

              <h2 class="card-title">
                <a href="https://compound.finance" target="_blank">Compound</a>
              </h2>

              <p class="card-text text-muted" i18n="@@homeOpenProtocolCompound">
                A decentralized protocol which establishes money markets with algorithmically set interest rates based
                on supply and demand, allowing Betoken managers to perform margin trading with 1.5x leverage or better.
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center mb-5">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@ctaGetStarted">
          Get Started
        </h2>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@ctaGetStarted">
          Get Started
        </h2>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="row">
          <div class="col-auto">
            <span class="display-1 text-light">1</span>
          </div>
          <div class="col">
            <h3 class="h2 mb-2" i18n="@@homeCreateAccountTitle">Create an account</h3>
            <p i18n="@@homeCreateAccountSubTitle">Use any supported wallet.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="row">
          <div class="col-auto">
            <span class="display-1 text-light">2</span>
          </div>
          <div class="col">
            <h3 class="h2 mb-2" i18n="@@connectCapitalTitle">Deposit your capital</h3>
            <p i18n="@@homeConnectCapitalText">Let proven managers handle your crypto portfolio.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-auto">
            <span class="display-1 text-light">3</span>
          </div>
          <div class="col">
            <h3 class="h2 mb-2" i18n="@@homeGetPaidTitle">...Or get paid to trade</h3>
            <p i18n="@@homeGetPaidText">Earn commissions for making good investments.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="btn btn-success btn-lg" routerLink="/start" i18n="@@ctaGetStarted">Get started</a>
      </div>
    </div>
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7">
    <div class="row justify-content-center">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@homeFundingTitle">
          Funding
        </h2>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@homeFundingTitle">
          Funding
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted mb-5" i18n="@@homeFundingText1">
          Betoken is launched fairly — free of ICO or pre-minted tokens. We rely on donations.
          If you’re an individual, company or institution excited about the potential of Betoken, we humbly ask if you’d
          consider making a financial contribution to the project’s development. We’re experimenting with a 100%
          community-driven funding model.
        </p>
        <p class="text-center" i18n="@@homeFundingText2">Support the movement by making a donation.</p>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <a class="btn btn-lg btn-success text-center mb-3 mb-lg-0" routerLink="/funding" i18n="@@ctaDonate">Donate to
          Betoken</a>
        <a class="btn btn-lg btn-link text-center mb-3 mb-lg-0" routerLink="/friends" i18n="@@ctaFriendsOfBetoken">Friends of
          Betoken</a>
      </div>
    </div>
  </div> <!-- / .container -->
  <div class="container mb-6 mb-lg-7" id="openMovement">
    <div class="row justify-content-center mb-5">
      <div class="col col-lg-8 col-xl-8">

        <!-- Title -->
        <h2 class="display-2 text-center d-none d-lg-block" i18n="@@homeOpenMovementTitle">
          Join The Open Movement
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted d-none d-lg-block">
          <ng-container i18n="@@homeOpenMovementText1">Betoken is an open project that believes in open source code and creative contribution from people with
          diverse interests and skill-sets. Dozens of people have contributed ideas, code, designs, and time to Betoken.
          Here are just a few of the faces from our</ng-container>&nbsp;<a href="https://t.me/betokenfund"><ng-container i18n="@@homeOpenMovementText2">English</ng-container></a>&nbsp;<ng-container i18n="@@homeOpenMovementText3">and</ng-container>&nbsp;<a
            href="https://t.me/betokenJapanese"><ng-container i18n="@@homeOpenMovementText4">Japanese</ng-container></a>&nbsp;<ng-container i18n="@@homeOpenMovementText5">chatroom</ng-container>.
        </p>

        <!-- Title -->
        <h2 class="display-4 text-center d-block d-lg-none" i18n="@@homeOpenMovementTitle">
          Join The Open Movement
        </h2>

        <!-- Text -->
        <p class="lead text-center text-muted d-block d-lg-none">
          <ng-container i18n="@@homeOpenMovementText1">Betoken is an open project that believes in open source code and creative contribution from people with
          diverse interests and skill-sets. Dozens of people have contributed ideas, code, designs, and time to Betoken.
          Here are just a few of the faces from our</ng-container>&nbsp;<a href="https://t.me/betokenfund"><ng-container i18n="@@homeOpenMovementText2">English</ng-container></a> <ng-container i18n="@@homeOpenMovementText3">and</ng-container>&nbsp;<a
            href="https://t.me/betokenJapanese"><ng-container i18n="@@homeOpenMovementText4">Japanese</ng-container></a> <ng-container i18n="@@homeOpenMovementText5">chatroom</ng-container>.
        </p>
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <!-- Avatar group -->
        <div class="avatar-group">
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title="" data-original-title="Sam">
            <img src="assets/img/avatars/profiles/sam.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Aholder">
            <img src="assets/img/avatars/profiles/aholder.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Kamikaze Tarou">
            <span class="avatar-title bg-info rounded-circle">KT</span>
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Kyle Kistner">
            <img src="assets/img/avatars/profiles/kyle-kistner.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title="" data-original-title="Shane">
            <img src="assets/img/avatars/profiles/shane.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Truebtclover">
            <img src="assets/img/avatars/profiles/truebtclover.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Didyousaidbitcoin">
            <img src="assets/img/avatars/profiles/didyousaidbitcoin.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="To We">
            <img src="assets/img/avatars/profiles/towe.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
        </div>
      </div>
      <div class="col-12 text-center">
        <!-- Avatar group -->
        <div class="avatar-group">

          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Guillaume">
            <img src="assets/img/avatars/profiles/guillaume.jpg" alt="guillaume avatar"
              class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title="" data-original-title="Zefram">
            <img src="assets/img/avatars/profiles/zefram.jpg" alt="zefram avatar" class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Cryptochick">
            <img src="assets/img/avatars/profiles/cryptochick.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title="" data-original-title="Adam">
            <img src="assets/img/avatars/profiles/adam.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title="" data-original-title="Evolve">
            <img src="assets/img/avatars/profiles/evolve.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title="" data-original-title="Garima">
            <img src="assets/img/avatars/profiles/garima.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Tomo Kaya">
            <span class="avatar-title bg-success rounded-circle">TK</span>
          </a>
        </div>
      </div>
      <div class="col-12 text-center">
        <!-- Avatar group -->
        <div class="avatar-group">
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Kazuhiko Kommoto">
            <span class="avatar-title bg-danger rounded-circle">KK</span>
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Innovative bear">
            <img src="assets/img/avatars/profiles/innovative-bear.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Taisuke Hory">
            <img src="assets/img/avatars/profiles/taisuke-hory.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenJapanese" class="avatar" data-toggle="tooltip" title=""
            data-original-title="m4d">
            <img src="assets/img/avatars/profiles/m4d.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
          <a href="https://t.me/betokenfund" class="avatar" data-toggle="tooltip" title=""
            data-original-title="Surya Krishnan">
            <span class="avatar-title bg-danger rounded-circle">SK</span>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
  <app-privacypolicy></app-privacypolicy>
</div> <!-- / .main-content -->
