<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col col-lg-8 text-center">
      <!-- Subtitle -->
      <h6 class="header-pretitle text-muted" i18n="@@headerOverviewPreTitle">Overview</h6>
      <!-- Title -->
      <h1 class="display-2 d-none d-lg-block text-white mb-5" i18n="@@headerFriendsTitle">
        Friends of Betoken
      </h1>
      <h1 class="display-4 d-block d-lg-none text-white mb-5" i18n="@@headerFriendsTitleMobile">
        Friends of Betoken
      </h1>
      <p class="text-muted lead mb-0" i18n="@@headerFriendsText">The following companies, institutions, or individuals have generously donated
        financial resources to the Betoken project under our <a href="/funding">community funding model</a>. We're
        grateful for their support, and are proud to display their logos or names as supporters of Betoken.</p>
    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
