<div class="fixed-bottom">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="alert alert-light alert-dismissible fade show mx-3 pr-4 mb-4" role="alert">
        <div class="row d-flex align-items-center">
          <div class="col">
            <ng-container i18n="@@alertPrivacy1">By using this website, you agree to our</ng-container>&nbsp;<a
              href="https://app.termly.io/document/privacy-notice/1b22acba-d419-4c74-a3af-6757c743cfa2"
              target="_blank"><ng-container i18n="@@alertPrivacy2">privacy policy</ng-container></a>
          </div>
          <div class="col-auto pr-0 justify-content-between align-items-center d-flex">
            <button type="button" class="close position-relative d-flex align-self-end py-0 pr-2" data-dismiss="alert"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
